[Unit]
Description=Timer for BookWL Service
Requires=BookWL.service

[Timer]
Unit=BookWL.service
OnCalendar=Mon,Wed 18:57:00

[Install]
WantedBy=timers.target